@model DateTime?

<div class="input-group date form-group datetimepicker">
    <input asp-for="@Model" class="form-control" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>