@model DynamicFormTagHelper.Models.PersonViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin-top: 2em;">
    <div class="col-md-3">
        <dynamic-form asp-action="/Home/Index" asp-model="@Model" 
                      asp-submit-button-text="Create Person!"
                      asp-submit-button-classes="btn-success">

            <tweak asp-property="Name"
                      asp-input-classes="custom-input-class">
            </tweak>

            <tweak asp-property="BirthDate" 
                      asp-label-classes="custom-label-class"
                      asp-input-path="~/Views/Shared/EditorTemplates/DateTime.cshtml">
            </tweak>

            <tweak asp-property="OwnedDog.BirthDate"
                      asp-input-path="~/Views/Shared/EditorTemplates/DateTime.cshtml">
            </tweak>


        </dynamic-form>
    </div>
</div>
@*Includes in the Scripts section under Shared/_Layout.cshtml the Jquery validation scripts*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
