@model DynamicFormTagHelper.Models.PersonViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin-top: 2em;">
    <div class="col-md-5">
        <dynamic-form asp-action="/Home/Index" asp-model="@Model"></dynamic-form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
