@model DynamicFormTagHelper.Models.PersonViewModel

<div>
    <p><b>>Id:</b> @Model.Id</p>
    <p><b>Name:</b> @Model.Name</p>
    <p><b>Birth:</b> @Model.BirthDate</p>
    <p><b>BasketBall?:</b> @Model.IsBasketBallPlayerVM</p>
</div>